#header(ng-switch=true)
  %a 竞价
  %input(type="button" ng-tap="end_bid()" value="结束竞价" )
#wrapper
  #scroller
    %ul#bid_info_list
      %li(ng-repeat="bidding in biddings")
        %a {{bidding}}

-##bid_page(data-role="page" )
-#  #bid_page_header(data-role="header" )
-#    %h1竞价
-#    %a(data-role="a" onclick="go_to_bid_list_page()" )返回
-#    %a(data-role="a" class="ui-btn-right" onclick="end_bid()" )结束
-#  #bid_page_content
-#    %ul#bid_info_list(data-role="listview" )
-#
-#  #bid_end_dialog
-#    %a{:style=>"visibility:hidden;",:id=>"ask_bid_end",:href=>"#create_end_bid_dialog",'data-rel'=>"popup",'data-position-to'=>"window",'data-role'=>"button",'data-transition'=>"pop"}
-#    %div{'data-role'=>"popup",:id=>"create_end_bid_dialog",'data-overlay-theme'=>"a",'data-theme'=>"c" ,:style=>"max-width:400px;",:class=>"ui-corner-all"}
-#      %div{'data-role'=>"header",'data-theme'=>"a"}
-#        %h1 结束？
-#      %div{'data-role'=>"content",'data-theme'=>"d"}
-#        %h3 确定要结束竞价？
-#        %a{:onclick=>"confirm_end_bid()",'data-role'=>"button",'data-inline'=>"true",'data-theme'=>"c",:class=>"end_Y"} 确定
-#        %a{:onclick=>"continue_bid()",'data-role'=>"button",'data-inline'=>"true",'data-rel'=>"back",'data_theme'=>"c",:class=>"end_N"}取消
